In [29]:
from ipywidgets import widgets

**1**. Write a function to count how many odd numbers are in a list

```python
countOdd(numberList)
```

In [30]:
###Type your code below####

**2**. Sum up all even numbers in a list.

```python
sumEven(numberList)
```

In [31]:
###Type your code below####

**3**. Sum up all the negative numbers in a list.

```python
sumNegative(numberList)
```

In [32]:
###Type your code below####

**4**. Write a function 
```python
print_triangular_numbers(n)
```

that prints out the first n triangular numbers. A call to print_triangular_numbers(5) would produce the following output:

1      1

2      3

3      6

4      10

5      15

In [33]:
###Type your code below####

**5**. Write a function 
```python
print_triangular_numbers(n)
```

In [34]:
###Type your code below####

**6**. Write a function

```python
print100()
```
that uses a for loop to print the integers from 0 to 100.

In [35]:
###Type your code below####

**7**. Write a function

```python
triangle1()
```

that uses a for loop to print the following:

```python
*
**
***
****
*****
******
*******
********
*********
**********
```

In [36]:
###Type your code below####

**8**. Write a function

```python
square(letter, width)
```
that prints a square with the given width using the string letter. For example,
square('Q', 5) should print:

```python
QQQQQ
QQQQQ
QQQQQ
QQQQQ
QQQQQ
```

In [37]:
###Type your code below####

**9**. Write a for loop that prints the integers from −50 to 50.

In [38]:
###Type your code below####

**10**. Write a for loop that prints the odd integers from 1 to 100.

In [39]:
###Type your code below####

**11**. Write a for loop that prints the values 7, 11, 15, 19.

In [40]:
###Type your code below####

**12**. Write a for loop that prints the values 2, 1, 0, −1, −2.

In [41]:
###Type your code below####

**13**. Write a for loop that prints the values 2, 1, 0, −1, −2.

In [42]:
###Type your code below####

**14**. Write a function

```python
multiples(n)
```

that prints all of the multiples of the parameter n between 0 and 100, inclusive.
For example, if n were 4, the function should print the values 0, 4, 8, 12,

In [43]:
###Type your code below####

**15.** Write a function

```python
countdown(n)
```
that prints the integers between 0 and n in descending order. For example, if n
were 5, the function should print the values 5, 4, 3, 2, 1, 0.

In [44]:
###Type your code below####

**16**. Write a function

factorial(n)

that returns the value of n! = 1 × 2 × 3 × ⋯ × (n − 1) × n.

5! is 1x2x3x4x5 = 120. 0! = 1

In [45]:
###Type your code below####

**17**. Suppose a bacteria colony grows at a rate of 10% per hour and that there are initially 100 bacteria in the colony. Write a function

```python
bacteria(days)
```
that returns the number of bacteria in the colony after the given number of days.

In [46]:
###Type your code below####

**18**. What will be the output of the following code snippet

```python
counter = 0
idx = 0
while counter < 10:
    idx = idx + 1
print (idx)
```

In [47]:
widgets.RadioButtons(
    options=["10","11","Never prints anything","12"],
    description='Your Answer:',
    layout={'width': 'max-content'},
    disabled=False
)

RadioButtons(description='Your Answer:', layout=Layout(width='max-content'), options=('10', '11', 'Never print…

**19**. A zombie can convert two people into zombies everyday. Starting with just one
zombie, how long would it take for the entire world population (7 billion people)
to become zombies? Write a function

```python
zombieApocalypse()
```
that returns the answer to this question.

In [48]:
###Type your code below####

**20**. An amoeba can split itself into two once every h hours. How many hours does it
take for a single amoeba to become target amoebae? Write a function

```python
amoebaGrowth(h, target)
```

that returns the answer to this question.

In [49]:
###Type your code below####