In [109]:
from ipywidgets import widgets

**1**. Replace all odd numbers in a single dimensional array with -1

example for an input 
```python
[1,2,3,4,5,6,7] 
```
the program should return 
```python
[-1,2,-1,4,-1,6,-1]
```

In [110]:
###Type your code below####

**2**. Write a function that accepts two one dimensional arrays and returns the common items as an array

```python
intersection(array1,array2)
```

In [111]:
###Type your code below####

**3**. Write a function that accepts two arrays as argument and remove elements from first array that are present in second array. For example if first array is [1,2,3,4,5] and sencond array is [5,6,7,8,9], the result should be [1,2,3,4].

In [112]:
###Type your code below####

**4.** Write a function that accepts two arrays and find element positions in first array that matches element in second array. For eg for two arrays
```python
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
```
The output should be 
```python
[1, 3, 5, 7]
```

In [113]:
###Type your code below####

**5**. Write a function that accepts an array and two numbers as parameters and return all the elements of the array that are between the two numbers

For example for an array
```python
a = np.array([2, 6, 1, 9, 10, 3, 27])
```
and for the numbers 5 and 10 the output should be 
```python
[6, 9, 10]
```

In [114]:
###Type your code below####

**6**. Write a function that accepts two arrays of the same length as parameter and return an array with the maximum element from each array. For eg for an input 

```python
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
```
The ouput should be 

```python
[6, 7, 9, 8, 9, 7, 5]
```

In [115]:
###Type your code below####

**7**. Write a function that accepts a matrix (2d array) and reverses the rows of the matrix.

For eg for an input 

```python
[[0,1],
 [2,3]]
```
The output should be
```python
[[2,3],
 [0,1]]
```

In [116]:
###Type your code below####

**8**. Write a function that accepts a matrix (2d array) and reverses the columns of the matrix.

For eg for an input 

```python
[[0,1],
 [2,3]]
```
The output should be
```python
[[1,0],
 [3,2]]
```

In [117]:
###Type your code below####

**9**. Write a function that accepts a single dimensional array as argument and returns the top 5 values. For eg for an array 
```python
[1,2,3,4,5,6,7,8,9,10]
```
the output should be
```python
[10,9,8,7,6]
```

In [118]:
###Type your code below####

**10**. Write a function to compute the one-hot encodings (dummy binary variables for each unique value in the array) for an array of numbers. For example for an array 
```python
[2, 3, 2, 2, 2, 1]
```
The output should be
```python
[[0,1,0],
 [0,0,1],
 [0,1,0],
 [0,1,0],
 [0,1,0],
 [1,0,0]]
```

In [119]:
###Type your code below####

**11**. Write a function that compute the euclidean distance between two 1d arrays of same length. The Euclidean distance between to vectors $(x_{1},y_{1})$ and $(x_{2},y_{2})$ is 
$$\sqrt{(x_{1}-x_{2})^2 + (y_{1}-y_{2})^2}$$

In [120]:
###Type your code below####

**12**. Write a function to read the CSV file 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv' to a DataFrame. Find the maximum depth for all records.

In [121]:
###Type your code below####

**13**. Write a function to read the CSV file 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv' to a DataFrame. Find the maximum magnitude (**mag**) for each **magType**.

In [122]:
###Type your code below####

**14**. Write a function to read the CSV file 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv' to a DataFrame. Find the count for each **locationSource**.

In [123]:
###Type your code below####

**15**. Write a function to read the CSV file 'listings_amsterdam.csv' from data folder to a DataFrame. Find the records with **description** containing the substring 'wifi'

In [124]:
###Type your code below####

**16**. Write a function to read the CSV file 'listings_amsterdam.csv' from data folder to a DataFrame. Sort the records by reviews_per_month in descending order.

In [125]:
###Type your code below####

**17**. Write a function to read the CSV file 'listings_amsterdam.csv' from data folder to a DataFrame. Create a frequency table for the different **property_type**.

In [126]:
###Type your code below####

**18**. Write a function to read the CSV file 'listings_amsterdam.csv' from data folder to a DataFrame. Extract out the top 20 properties based on **price**

In [127]:
###Type your code below####

**19**. Write a function to read the CSV file 'sales_records.csv' from data folder to a DataFrame. Find the total number of orders based on **Region** as well as **Country**.

In [128]:
###Type your code below####

**20**. Write a function to read the CSV file 'sales_records.csv' from data folder to a DataFrame. Find the total number of units sold for each 'Item Type' across all the countries.

In [129]:
###Type your code below####