**1**. Write a function that calculates mean of all numbers in a list

```python
meanNumbers(numbersList)
```

In [2]:
###Type your code below####

**2**. Write a function that returns sum of all numbers in a list

```python
sumList(numbersList)
```

In [3]:
###Type your code below####

**3**. Write a function

```python
multiples5(data)
```

that returns the number of multiples of 5 in a list of integers. For example,
multiples5([5, 7, 2, 10]) should return 2.

In [4]:
###Type your code below####

**4**. Write a function

```python
countNames(words)
```
that returns the number of capitalized names in the list of strings named words. For
example, 
```python
countNames(['Fili', 'Oin', 'Thorin', 'and', 'Bilbo', 'are',
'characters', 'in', 'a', 'book', 'by', 'Tolkien']) 
```
should return 5.

In [5]:
###Type your code below####

**5.** Write a function

```python
meanSquares(data)
```

that returns the mean (average) of the squares of the numbers in a list named
data.

In [6]:
###Type your code below####

**6.** Write a function

```python
variance(data)
```

that returns the variance of a list of numbers named data. The variance is defined
to be the mean of the squares of the numbers in the list minus the square of the
mean of the numbers in the list.

In [7]:
###Type your code below####

**7.** Write a function

```python
shortest(words)
```
that returns the shortest string in a list of strings named words. In case of
ties, return the first shortest string. For example, 

```python
shortest (['spider', 'ant', 'beetle', 'bug'] 
```
should return the string 'ant'.

In [8]:
###Type your code below####

**8.** Write a function

```python
span(data)
```
that returns the difference between the largest and smallest numbers in the list
named data. For example, 
```python
span([9, 4, 2, 1, 7, 7, 3, 2]) 
```
should return 8

In [9]:
###Type your code below####

**9.** Write a function
```python
secondLargest(data)
```
that returns the second largest number in the list named data.

In [10]:
###Type your code below####

**10.** Write a function

```python
search(data, target)
```

that returns True if the target is in the list named data, and False otherwise. Do not use the in operator to test whether an item is in the list. For example, 
```python
search(['Tris', 'Tobias', 'Caleb'], 'Tris') 
```
should return True, but

```python
search(['Tris', 'Tobias', 'Caleb'], 'Peter')
```

should return False.

In [11]:
###Type your code below####

**11.** Write a function

```python
intersect(data1, data2)
```

that returns True if the two lists named data1 and data2 have any
common elements, and False otherwise. For example, 

```python
intersect(['Katniss', 'Peeta','Gale'], ['Foxface', 'Marvel', 'Glimmer'])
```

should return False, but

```python
intersect(['Katniss', 'Peeta', 'Gale'], ['Gale', 'Haymitch', 'Katniss'])
```

should return True.

In [12]:
###Type your code below####

**12.** Write a function

```python
wordFrequency(text)
```
that returns a dictionary containing the frequency of each word in the string
text. For example,

```python
wordFrequency('I am I.') 
```
should return the dictionary
{'I': 2, 'am': 1}.

In [13]:
###Type your code below####

**13**. Write a function

```python
firstLetterCount(words)
```
that takes as a parameter a list of strings named words and returns a dictionary with lower case letters as keys and the number of words in words that begin with that letter (lower or upper case) as values. For example, if the list is 
```python
['ant', 'bee', 'armadillo', 'dog', 'cat']
```
,then your function should return the dictionary 

```python
{'a': 2, 'b': 1, 'c': 1, 'd': 1}
```

In [14]:
###Type your code below####

**14**. Write a function 

```python
firstLetterWords(words)
```
that takes as a parameter a list of strings named words and returns a
dictionary with lower case letters as keys. But now associate with each
key the list of the words in words that begin with that letter. For example, if the list is 
```python
['ant', 'bee', 'armadillo', 'dog', 'cat']
```
, then your function should return the dictionary 

```python
{'a': ['ant', 'armadillo'],'b': ['bee'], 'c': ['cat'], 'd': ['dog']}
```

In [15]:
###Type your code below####

**15**. Write a function

```python
bonus(salaries)
```
that takes as a parameter a dictionary named salaries, with names as keys and
salaries as values, and increases the salary of everyone in the dictionary by 5%.

In [16]:
###Type your code below####

**16**. Write a function

```python
updateAges(names, ages)
```
that takes as parameters a list of names of people whose birthday is today and
a dictionary named ages, with names as keys and ages as values, and increments
the age of each person in the dictionary whose birthday is today.

In [17]:
###Type your code below####

**17**. Write a function

```python
seniorList(students, year)
```
that takes as a parameter a dictionary named students, with names as keys and
class years as values, and returns a list of names of students who are graduating in this
year.

In [18]:
###Type your code below####

**18**. Write a function

```python
maxBase(freqs)
```
that returns the base with the maximum frequency in a dictionary of base
frequencies named freqs. For example,

```python
maxBase({'A': 0, 'C': 1, 'G': 4, 'T': 0})
```

In [19]:
###Type your code below####

**19**. Write a function

```python
union(dict1, dict2)
```
that returns a new dictionary that contains all of the entries of the two dictionaries
dict1 and dict2. If the dictionaries share a key, use the value in the first dictionary.
For example, 
```python
union({'pies': 3, 'cakes': 5}, {'cakes': 4, 'tarts': 2}
```
should return the dictionary

```python
{'pies': 3, 'cakes': 5, 'tarts': 2}
```

In [20]:
###Type your code below####

**20**. Write a function

```python
login(passwords)
```
that takes as a parameter a dictionary named passwords, with usernames as
keys and passwords as values, and repeatedly prompts for a username and
password until a valid pair is entered. Your function should continue to prompt
even if an invalid username is entered (Note: use loops).

In [79]:
###Type your code below####